.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.panel{
    margin-top: 10px;
    background: #F9F9F9;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 25px 25px 24px 25px;
    height: 150px;
    width: 150px;
    display: inline-block;

}

img{
    max-height: 100%;
    max-width: 100%;

}