@font-face {
    font-family: Bebas;
    src: url(../font/Bebas.ttf);
  }

html body{
    background: #F2F2F2;
}


.mid{
  min-height: 60vh;
}




img {
    max-width: 100%;
    max-height: 100%;
    width: 216px;
    height: 255px;
  }

  .spasi{
      position: absolute;
      height: 50px;
  }

  .name {
    font-family: Bebas;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #FE7624;
    
  }

  .about{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }


  .button{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
	border-radius: 2px;
    padding: 13px 28px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 100px !important;
}

.button-yellow{
    background: #e5ae09;
    background: -moz-linear-gradient(-45deg, #FE7624 0%, #FE7624 50%, #FE7624 51%, #FE7624 71%, #FE7624 100%);
    background: -webkit-linear-gradient(-45deg, #FE7624 0%,#FE7624 50%,#FE7624 51%,#fc9014 71%,#FE7624 100%);
    background: linear-gradient(135deg, #FE7624 0%,#FE7624 50%,#FE7624 51%,#FE7624 71%,#FE7624 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ae09', endColorstr='#FE7624',GradientType=1 );
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
    color: #fff !important;
}


.hire-form{
    margin: auto 0;
    padding: 4%;
    background: #F9F9F9;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px; 
    padding-top: 2%;
    padding-bottom: 0.5%;
}

.hour{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.25);
}


.label-profile{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.25);
}

.data-profile{
    font-family: Bebas;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #2E186A;
}


.contract{
    font-family: Bebas;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #2E186A;
}


.reviewer-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.review-date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.review-content{
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}




.images{
    background: url('images/laura.jpg');
}



.garis{
    width: 6px;
    height: 100%;


    background: #E5E5E5;
    border-radius: 20px;
}



.left-modal{
    margin: 20px 20px;

}


.right-modal{
    margin: 20px 20px 20px;

}

.price{
background: #F2F2F2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;

}


.price-label{
    font-family: Bebas;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #2E186A;
    margin-left: 15px;
}


.price-amount{
    font-family: Bebas;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FE7624;

margin-right: 15px;
}




.method{
    margin-top: 20px;
}


.visa{
    background: #F2F2F2;
border: 1px solid #2E186A;
box-sizing: border-box;
box-shadow: 2px 2px 5px #2E186A;
border-radius: 45px;
}


.soon{
    background: #F2F2F2;
    border-radius: 45px;
}


.visa_img{
    width: 50px;
    height: 50px;
}



.payment-form{
    margin-top: 20px;
}

.button:focus {
    outline: none;
    box-shadow: none;
  }
